@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Dancing+Script:wght@600&family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
   background-image: url(bdg.jpg);
   background-position: center;
   height: 100%;
   display: flex;
   flex-direction: column;
    background-repeat: no-repeat;
    page-break-after: auto;
    
}
.navbar{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 10vh;
    position:relative;
}
.navbar ul{
    float: left;
    margin-right: 20px;
    }
 .navbar ul li{
     list-style: none;
     margin: 0 8px;
     display: inline-block;
        line-height: 80px;
 }
 .navbar ul li a{
     text-decoration: none;
     color: rgb(247, 247, 247);
     font-size: 20px;
     font-family: 'Handlee', cursive;
     padding: 6px 13px;
     transition: 0.4s;
}
 .navbar ul li ::after{
    content: '';
    height: 3px;
    width: 10%;
    position: absolute;
    left: 0;
    bottom: -5.5px;
    transition: 0.5s;
 }
 .navbar ul li a:hover{
     background: rgba(167, 215, 238,.4);
     border-radius: 25px;
 }
 .B2{
    position: relative;
    margin-top:5%;
    text-align:center;
 }
 .B2 h1{
     color: rgb(95, 239, 247);
     font-size: 70px;
     font-family: 'Actor', sans-serif;
     text-align:center;
     font-family: 'Redressed', cursive;
}
.box{
    width: 90%;
    display: grid ;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
.par{
      height:200px ;
      background-color: rgba(0, 0, 0, 0.459);
      position: relative;
      align-items: center;
      float: left;
      width: 350px;
      justify-content: center;
      display: grid;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      font-family: 'Amatic SC', cursive;
      font-size: 30px;
      margin: 20px 100px;
      border: blanchedalmond;
    }
    .p2{
         color: antiquewhite;
    }
    .p3{
        color: antiquewhite;
    }
    .p1{
        color:rgb(255, 179, 194);
    }
.B2 .buttons{
    text-align:center;
}
.buttons button{
    height: 50px;
    width: 150px; 
    font-size: 18px ;
    font-weight: bold;
    color: rgb(250, 169, 183);
    background: rgb(0, 00, 10);
    opacity:0.5 ;
    border: rgb(23, 8, 235);
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin: 90px 680px;
    margin-top: 15px;
}
.buttons .bt{
    margin-left: 35px;
}
.buttons button:hover{
    background:#cc0000 ;
}
.foot{
    background-color: rgba(0, 0, 0, 0.589);
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 10vh;
    bottom: 1px; 
    margin-top: 20px;
    position: fixed;
    background-attachment: scroll;
}
.icon ul {
    position: sticky;
    bottom: 20px;
    float:right;
 text-align: center;
}
.icon ul li{
    font-size: 40px;
    width: 65px;
    height:35px;
    line-height: 19px;
    display: inline-block;
    margin:5px;
    color: cornsilk;
    text-align:center
}
.icon ul li ion-icon{
    text-decoration: none;
     color: rgb(247, 247, 247);
     font-size: 20px;
     font-family:'roboto',sans-serif;
     padding: 0px 5px;
     text-align:center    
}
.menu {
    float: left;
    margin-right: 22px;
    text-align:center;
    font-family: 'Handlee', cursive;
    color: antiquewhite;
}
.contente{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px 90px;
    margin-top: 60px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.425);
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: darkgray; 
}
